.timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.title {
  font-size: 13px;
}